body {
  font-size: 18px;
  font-family: 'Yatra One', cursive;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  background-color: #cedaae;
}

section {
  clear: both;
}

h1 {
  font-size: 36px;
  color: #698539;
  font-family: 'Lobster', cursive;
}

h2 {
  color: #698539;
  font-family: 'Lobster', cursive;
}

p {
  color: #be3b38;
  font-family: 'Yatra One', cursive;
}

img {
  max-width: 100%;
}

img.left {
    float: left;
    margin-right: 20px;
}

img.right {
    float: right;
    margin-left: 20px;
}

a:visited {
  color: #be3b38;
}

h3 {
  color: #698539;
  font-family: 'Lobster', cursive;
}

li {
  color: #be3b38;
  font-family: 'Yatra One', cursive;
}
